body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 00px;
}

/*Resetando margin, pq por padrão esses elementos têm margin*/
h1, ul, p{
  margin: 0px;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit; /*Herda a cor do elemento pai*/
}

img{
  display: block;
  max-width: 100%;
}

.header-bg{
  background-color: #000;
}

.header{
  display: flex;
  flex-wrap: wrap ; /*Faz com que os elementos filhos de header quebrem linha caso fiquem pequeno*/
  gap: 20px;
  justify-content: space-between;
  align-items: center; /*Alinha os itens um com o outro no centro*/
  box-sizing: border-box; /*Faz com que o valor do padding não some ao width, assim o valor definido no width será o total do elemento, não precisando colocar 1160 para conseguir 1200px de tamanho*/
  padding: 20px;
  max-width: 1200px;
  /* deixa os itens sempre alinhado aos cantos */
  margin-left: auto;
  margin-right: auto;
}

.header-menu{
  display: flex;
  flex-wrap: wrap; /*Faz com que os elementos filhos de header quebrem linha caso fiquem pequeno*/
  gap: 40px;
}

/*Cira um detalhe para o menu*/
.header-menu a::after{
  content: "";
  display: block;
  height: 2px;
  width: 0px; 
  background-color: #fff;
  margin-top: 4px;
  transition: 0.3s; /*Define quanto tempo deve demorar para sair desse estado para o hover*/
  position: absolute; /*Serve para tirar a altura que foi criada por conta do detalher, para centralizar com a logo*/
}

.header-menu a:hover:after{
  width: 100%; /*Pega a largura do elemento pai*/
}

/*Aumenta a area de contato(click zone) e define com inline-block para não quebrar e pegar o padding direto*/
.header-menu a{
  color: #fff;
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
  position: relative; /*Se não for definido o absolute fica relacionado ao body, pegadno 100% dele, assim se definir aqui, o aboslute vai pegar 100% do width desse elemento*/
}

.introducao-bg{
  background: #000;
  color: #fff;
  /* estilo para parecer que a imagem está vazando */
  box-shadow: inset 0px -120px #fff; /*cria uma sombra interna(inset) e com o negativo, ela vai ficar para baixo, no final do container, dando uma ilusão que a imagem está sendo vazada
  
  porem precisa compesar o valor do padding no .introdução conteudo, pois assim ele não irá aparentar que todos os itens estão vazando. Basta adicionar 120px aos 80 dele*/
}

.introducao{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px; /*cima e baix= 0 e lados = 40*/
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.introducao-conteudo{
  align-self: end; /*Alinha o conteudo da div no final*/
  padding-bottom: 200px; /*da um espaço  80px + 120px*/
}

/*
Solução 1, mas que vem com problemas para o proximo conteudo
Vazar imagem, só funciona aqui, pq a imagem vai estar 100% do container(.introducao img), mas a div que envolve ela(.introducao-imagem) vai estar com margem negativa, ou seja, o container da imagem (.introducao-imagem) vaza

adicionar classe a div da imagem caso queira testar*/
/* .introducao-imagem{
  margin-bottom: -120px;
} */


.introducao img{
  height: 100%; /*Define sempre a mesma altura do elemento pai*/
  object-fit: cover; /*Corta a imagem caso não caiba no width, para não distorcer*/
  border-radius: 4px;
}

.introducao h1{
  font-size: 64px;
  line-height: 1.125; /*Define como relativo ao font-size ou seja 72px(tamanho original que queremos quando a font size for 64px) dividido por 64, agr se diminuir a font o line fica equivalente*/
  margin-bottom: 32px;
}

.introducao h1 span{
  color: #FFbb00;
}

.introducao p{
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
}

.introducao a{
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient( #ffbf00, #F2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
}

.introducao a:hover{
  background: linear-gradient( #ffb60d, #e59317);
}

@media (max-width:800px){
  .header-menu{
    gap: 20px;
  }
  .header-menu a{
    background-color: #111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover{
    background-color: #2E2E2E;
  }

  .header a:after{
    display: none;
  }
}

@media (max-width:600px){
  .header-menu{
    gap: 12px;
  }
  .header-menu a{
    padding: 8px 12px;
    font-size: 14px;
  }
}