.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap; /*Faz com que os elementos filhos de header quebrem linha caso fiquem pequeno*/
  gap: 20px;
  justify-content: space-between;
  align-items: center; /*Alinha os itens um com o outro no centro*/
  box-sizing: border-box; /*Faz com que o valor do padding não some ao width, assim o valor definido no width será o total do elemento, não precisando colocar 1160 para conseguir 1200px de tamanho*/
  padding: 20px;
  max-width: 1200px;
  /* deixa os itens sempre alinhado aos cantos */
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap; /*Faz com que os elementos filhos de header quebrem linha caso fiquem pequeno*/
  gap: 40px;
}
.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative; /*Se não for definido o absolute fica relacionado ao body, pegadno 100% dele, assim se definir aqui, o aboslute vai pegar 100% do width desse elemento*/
}

/*Cira um detalhe para o menu*/
.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s; /*Define quanto tempo deve demorar para sair desse estado para o hover*/
  position: absolute; /*Serve para tirar a altura que foi criada por conta do detalher, para centralizar com a logo*/
}

/*Aumenta a area de contato(click zone) e define com inline-block para não quebrar e pegar o padding direto*/

.header-menu a:hover:after {
  width: 100%; /*Pega a largura do elemento pai*/
}
@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
    font-family: "Poppins";
    font-weight: 400;
  }
  .header-menu a:hover {
    background-color: var(--cor-10);
  }

  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
